<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Planowanie Wycieczek</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha384-DyZ88mC6Up2uqS2h/Kw1vZ38aCT3Nv6gCjr3pjyYfiu5jEr9a0ayjyWvZF5ckE5" crossorigin="anonymous">
    <script type="text/javascript" th:src="@{/darkmode.js}" defer></script>
    <script src="https://kit.fontawesome.com/ce8989e355.js" crossorigin="anonymous"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgPOabKPpXW-OiSTLVwHFcU2AREE4Il_A&callback=initMap" async defer></script>
</head>
<body>
<nav class="navbar">
    <ul>
        <li class="logo">
            <a th:href="@{/index}"><img th:src="@{/images/logo.jpg}" alt="logo"></a>
        </li>
        <div class="search-container">
            <input type="text" id="search-placeholder" placeholder="Search" data-i18n-placeholder="search">
            <button id="search-button"><i class="fa-solid fa-magnifying-glass" style="color: #1a2e35;"></i></button>
        </div>
        <li><a id="menu-trips" th:href="@{/wycieczki}">WYCIECZKI</a></li>
        <li><a id="menu-plan" th:href="@{/dodajwycieczke}">ZAPLANUJ WYCIECZKĘ</a></li>
        <li><a id="menu-ranking" th:href="@{/ranking}">RANKING</a></li>
        <li><a id="menu-friends" th:href="@{/znajomi}">ZNAJOMI</a></li>
        <li><a id="menu-login" th:href="@{/login}">ZALOGUJ SIĘ</a></li>
    </ul>
</nav>

<div class="map-box">
    <div class="map-header">
        <header id="form-plan-trip-header">Zaplanuj wycieczkę</header>
    </div>
    <form action="/trips/dodajwycieczke" method="post" enctype="multipart/form-data">
        <div class="input-box">
            <input type="text" class="input-field" id="from" name="fromLocation" placeholder="Punkt początkowy" required>
        </div>
        <div class="input-box">
            <input type="text" class="input-field" id="to" name="toLocation" placeholder="Punkt docelowy" required>
        </div>
        <div class="input-box">
            <input type="date" id="tripDate" name="tripDate" class="input-field" required>
        </div>
        <div class="input-box">
            <textarea id="tripNote" name="tripNote" placeholder="Dodaj notatkę..." class="input-field"></textarea>
        </div>
        <div class="input-box">
            <input type="file" id="photos" name="photoPaths" multiple>
        </div>
        <div class="input-box">
            <label for="visibility">Widoczność:</label>
            <select name="visibility" id="visibility" required>
                <option value="public">Publiczna</option>
                <option value="private">Prywatna</option>
                <option value="friends">Dla znajomych</option>
            </select>
        </div>
        <div class="input-submit">
            <button type="submit" class="submit-btn" id="submit" data-i18n="form.submit">Dodaj wycieczkę</button>
            <label for="submit">Dodaj wycieczkę</label>
        </div>
    </form>
    <div id="map" style="height: 500px; margin-top: 20px;"></div>
</div>
<div id="tripList"></div>

<button id="theme-switch">
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
        <path d="M480-120q-150 0-255-105T120-480q0-150 105-255t255-105q8 0 17 .5t23 1.5q-36 32-56 79t-20 99q0 90 63 153t153 63q52 0 99-18.5t79-51.5q1 12 1.5 19.5t.5 14.5q0 150-105 255T480-120Zm0-60q109 0 190-67.5T771-406q-25 11-53.67 16.5Q688.67-384 660-384q-114.69 0-195.34-80.66Q384-545.31 384-660q0-24 5-51.5t18-62.5q-98 27-162.5 109.5T180-480q0 125 87.5 212.5T480-180Zm-4-297Z"/>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
        <path d="M480-280q-83 0-141.5-58.5T280-480q0-83 58.5-141.5T480-680q83 0 141.5 58.5T680-480q0 83-58.5 141.5T480-280ZM200-440H40v-80h160v80Zm720 0H760v-80h160v80ZM440-760v-160h80v160h-80Zm0 720v-160h80v160h-80ZM256-650l-101-97 57-59 96 100-52 56Zm492 496-97-101 53-55 101 97-57 59Zm-98-550 97-101 59 57-100 96-56-52ZM154-212l101-97 55 53-97 101-59-57Z"/>
    </svg>
</button>

<button id="language-switch">
    <svg xmlns="http://www.w3.org/2000/svg" id="flag-icons-pl" viewBox="0 0 640 480">
        <g fill-rule="evenodd">
            <path fill="#fff" d="M640 480H0V0h640z"/>
            <path fill="#dc143c" d="M640 480H0V240h640z"/>
        </g>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" id="flag-icons-gb-eng" viewBox="0 0 640 480">
        <path fill="#fff" d="M0 0h640v480H0z"/>
        <path fill="#ce1124" d="M281.6 0h76.8v480h-76.8z"/>
        <path fill="#ce1124" d="M0 201.6h640v76.8H0z"/>
    </svg>
</button>

<script>
    const translations = {
        en: {
            "friends-title": "Friends",
            "search-title": "Search a User",
            "emailInput": "Enter email address",
            "search-user": "Search",
            "menu-trips": "TRIPS",
            "menu-plan": "PLAN A TRIP",
            "menu-ranking": "RANKING",
            "menu-friends": "FRIENDS",
            "menu-login": "LOG IN",
            "form-plan-trip-header": "Plan a Trip",
            "form-from": "From:",
            "form-to": "To:",
            "form-date": "Trip Date:",
            "form-submit": "Add Trip",
            "from" : "Starting point",
            "to" : "Destination",
            "search": "Search",
        },
        pl: {
            "friends-title": "Znajomi",
            "search-title": "Wyszukiwanie użytkowników",
            "emailInput": "Wpisz adres email",
            "search-user": "Szukaj",
            "menu-trips": "WYCIECZKI",
            "menu-plan": "ZAPLANUJ WYCIECZKĘ",
            "menu-ranking": "RANKING",
            "menu-friends": "ZNAJOMI",
            "menu-login": "ZALOGUJ SIĘ",
            "form-plan-trip-header": "Zaplanuj wycieczkę",
            "form-from": "Skąd:",
            "form-to": "Dokąd:",
            "form-date": "Data wycieczki:",
            "form-submit": "Dodaj wycieczkę",
            "from" : "Punkt początkujący",
            "to" : "Punkt docelowy",
            "search": "Szukaj",

        }
    };

    function changeLanguage(lang) {
        document.querySelectorAll("[id]").forEach(el => {
            const key = el.id;
            if (translations[lang][key]) {
                if (el.tagName === "INPUT") {
                    el.placeholder = translations[lang][key];
                } else {
                    el.textContent = translations[lang][key];
                }
            }
        });
    }

    // Get saved language from localStorage or default to "pl"
    const savedLang = localStorage.getItem('language') || 'pl';
    document.documentElement.lang = savedLang;
    changeLanguage(savedLang);

    document.getElementById("language-switch").addEventListener("click", () => {
        const currentLang = document.documentElement.lang;
        const newLang = currentLang === "en" ? "pl" : "en";
        document.documentElement.lang = newLang;
        localStorage.setItem('language', newLang);  // Save the selected language
        changeLanguage(newLang);
    });


    let map, directionsService, directionsRenderer;
    directionsService = new google.maps.DirectionsService();
    directionsRenderer = new google.maps.DirectionsRenderer({ map: map });

    function initMap() {
        const warsaw = {lat: 52.2297, lng: 21.0122}; // Warszawa
        map = new google.maps.Map(document.getElementById("map"), {
            center: warsaw,
            zoom: 7
        });
        //pinezka
        const marker = new google.maps.Marker({
            position: warsaw,
            map: map,
            title: "Warszawa"
        });
    }

    document.getElementById('search-route').addEventListener('click', () => {
        const from = document.getElementById('from').value;
        const to = document.getElementById('to').value;

        if (from && to) {
            const request = {
                origin: from,
                destination: to,
            };

            directionsService.route(request, (result, status) => {
                if (status === 'OK') {
                    directionsRenderer.setDirections(result);
                } else {
                    alert('Nie udało się znaleźć trasy: ' + status);
                }
            });
        } else {
            alert('Proszę wypełnić oba pola: Od i Do.');
        }
    });

    document.getElementById('tripForm').addEventListener('submit', async function (event) {
        event.preventDefault();

        const formData = new FormData();
        formData.append('fromLocation', document.getElementById('from').value);
        formData.append('toLocation', document.getElementById('to').value);
        formData.append('tripDate', document.getElementById('tripDate').value);
        formData.append('tripNote', document.getElementById('tripNote').value);
        formData.append('visibility', document.getElementById('visibility').value);

        const photos = document.getElementById('tripPhoto').files;
        for (const photo of photos) {
            formData.append('photos', photo);
        }

        try {
            const response = await fetch('/trips/dodajwycieczke', {
                method: 'POST',
                body: formData
            });

            if (response.ok) {
                window.location.href = '/wycieczki';
            } else {
                alert('Wystąpił błąd przy dodawaniu wycieczki.');
            }
        } catch (error) {
            alert('Wystąpił błąd: ' + error.message);
        }
    });


</script>
